<div class="CONTENT flex justify-center items-center flex-col gap-4 mb-5">
  <h1 class="mt-5 font-roboto font-bold text-2xl">Cryptography</h1>
  <blockquote
    class="p-4 border-l-4 border-gray-300 bg-gray-50 font-roboto mx-2"
  >
    <svg
      aria-hidden="true"
      class="w-10 h-10 text-gray-400 dark:text-gray-600"
      viewBox="0 0 24 27"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
        fill="currentColor"
      />
    </svg>

    <p>
      <strong>კრიპტოგრაფია</strong> (წარმოიშვა ბერძნული სიტყვებიდან κρυπτός
      „კრიპტოს“ — ფარული, და ზმნიდან γράφω „გრაფო“ — წერა, ანუ ფარული წერა) —
      მეცნიერება ინფორმაციის დაფარვის შესახებ. კრიპტოგრაფია განიხილება, როგორც
      მათემატიკისა და კომპიუტერული მეცნიერებების განაყოფი და მჭიდროდ
      დაკავშირებულია მეცნიერების ისეთ დარგებთან, როგორებიცაა
      <a
        [href]="links.informaticsTheory"
        target="_blank"
        class="text-blue-700 hover:underline active:text-orange-400"
        >ინფორმაციის თეორია</a
      >,
      <a
        [href]="links.cyberCecurity"
        class="text-blue-700 hover:underline active:text-orange-400"
        target="_blank"
        >კომპიუტერული უსაფრთხოება</a
      >
      და
      <a
        class="text-blue-700 hover:underline active:text-orange-400"
        [href]="links.enginering"
        target="_blank"
        >ინჟინერია</a
      >. დღესდღეობით იგი გამოიყენება ტექნოლოგიურად განვითარებულ სფეროებში,
      როგორიცაა: საკრედიტო ბარათები, კომპიუტერული პაროლები, ელექტრონული კომერცია
      და მრავალი სხვა.
    </p>
  </blockquote>
  <div class="SWITCHER">
    <ul class="flex items-center gap-3 bg-gray-300 rounded-xl p-1.5">
      <li
        class="rounded-xl p-0.5 flex items-center gap-0.5"
        [ngClass]="{ 'bg-cyan-400/75': activeView === 'encryption' }"
        (click)="activeView = 'encryption'"
      >
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
          ></path>
        </svg>
        შიფრირება
      </li>
      <li
        class="rounded-xl p-0.5 flex items-center gap-0.5"
        [ngClass]="{ 'bg-red-300/75': activeView === 'decryption' }"
        (click)="activeView = 'decryption'"
      >
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 10.5V6.75a4.5 4.5 0 119 0v3.75M3.75 21.75h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H3.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
          ></path>
        </svg>
        <span>დეშიფრაცია</span>
      </li>
    </ul>
  </div>
  <app-encryption *ngIf="activeView === 'encryption'"></app-encryption>
  <app-decryption *ngIf="activeView === 'decryption'"></app-decryption>
</div>

<!-- TODO description for cryptography methods -->
<!-- TODO Last encryption/decryption method -->
<!-- TODO formcontrolis damateba da am inputis parolad damateba -->
<!-- TODO damatebiti informacia sxvadasxva tipebze -->
