<div class="TEXTAREA flex gap-7 justify-center items-center">
  <textarea
    class="resize-none border broder-solid rounded-xl p-2.5"
    placeholder="შეიტვანეთ განსაშიფრი ტექსტი"
    name="input"
    id="input"
    cols="60"
    [(ngModel)]="inputData"
    required
    #textArea="ngModel"
    rows="7"
  ></textarea>
  <div class="relative">
    <textarea
      class="resize-none border broder-solid rounded-xl p-2.5 pr-8 read-only:bg-slate-200"
      name="output"
      id="output"
      cols="60"
      [(ngModel)]="outputData"
      rows="7"
      readonly
    >
    </textarea>
    <button
      (click)="onCopy()"
      class="absolute right-2 p-0.5 top-2 w-7 h-7 bg-slate-300"
      [title]="'დაკოპირება'"
    >
      <svg
        fill="none"
        stroke="black"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75"
        ></path>
      </svg>
    </button>
  </div>
</div>
<div class="BUTTONS flex gap-[88px] items-center justify-center mt-2.5 mb-3">
  <div class="mt-2 flex items-center">
    <label for="types" class="font-roboto"> აირჩიეთ კრიპტოგრაფიის ტიპი: </label>
    <select
      name="types"
      id="types"
      class="border border-solid ml-3 w-[150px] pl-1"
      (change)="formReset()"
      [(ngModel)]="selectedOption"
    >
      <option *ngFor="let item of types" [value]="item">
        {{ item }}
      </option>
    </select>
  </div>
  <input
    type="text"
    [(ngModel)]="password"
    placeholder=" შეიყვანეთ გასაღები"
    required
    #key="ngModel"
    class="border border-solid pl-1 ml-3 h-[38px]"
  />
  <!-- [ngClass]="{ 'border-red-600': !key.valid && key.touched }" -->

  <button
    class="border border-solid bg-red-500 cursor-pointer py-1.5 px-5 min-w-[200px] rounded-2xl text-white font-roboto font-bold hover:bg-red-500/75"
    [disabled]="!key.valid || !textArea.valid"
    [ngClass]="{ disabled: !key.valid || !textArea.valid }"
    (click)="onDecrypt()"
  >
    გაშიფრვა
  </button>
</div>

<p class="p-4 bg-gray-50 mx-2 text-sm" *ngIf="selectedOption === 'AES'">
  <strong>განვითარებული შიფრაციის სტანდარტი</strong> (Advanced Encryption
  Standard ან AES) — სიმეტრიული შიფრაციის ალგორითმი, ამორჩეული 2000 წლის
  ოქტომბერში NIST-ის მიერ ამერიკის შეერთებული შტატების მთავრობის ორგანიზაციების
  ახალი სტანდარტული შიფრაციისათვის.ალგორითმი იღებს დასაწყისში 128 ბიტიან (16
  ბაიტი) ბლოკს, გასაღები მოიცავს 128, 192 ან 256 ბიტს. დასაწყისის 16 ბაიტი არის
  გადაადგილებული წინასწარ განსაზღვრული ცხრილის მიხედვით. ეს ბაიტები
  განთავსებულია 4*4 ელემენტიან მატრიცაში და მისი ხაზები ექვემდებქრება როტაციას
  მარჯვნივ. ინკრემენტი როტაციისთვის იცვლება მისი ხაზის ნომრის მიხედვით. შემდეგ
  მატრიცაზე გამოყენებულია წრფივი გარდაქმნა, ის მოიცავს მატრიცის თვითვეული
  ელემენტის ორობით ნამრავლს დამხმარე მატრიციდან გამომდინარე პოლინომებით, ეს
  ნამრავლი დაფუძნებულია სპეციალურ წესებზე GF(2^8) მიხედვით (Galois-ის ჯგუფი ან
  სრული ტანი). წრფივი გარდაქმნა გიქმნის საუკეთესო გარემოს (ბიტების გავრცელება
  სტრუქტურაში) მრავალ ჯერზე. საბოლოოდდ, XOR ორ მარტიცას შორის საშუალებას გაძლევს
  მიიღო დამატებითი მატრიცა. ეს განსხვავებული ოპერაციები გამეორებულია მრავალჯერ
  და განსაზღვრავენ "ჯერს". 128, 192 ან 256-იანი გასაღებისთვის AES საჭიროებს 10,
  12 ან 14 ჯერს.
</p>
<p class="p-4 bg-gray-50 mx-2 text-sm" *ngIf="selectedOption === 'DES'">
  <strong>DES</strong> (Data Encryption Standard) — მონაცემთა დაშიფრვის
  სიმეტრიული ალგორითმი, რომელშიც ერთი და იგივე გასაღები გამოიყენება როგორც
  მონაცემთა დასაშიფრად, აგრეთვე მის გასაშიფრად. DES-ი მუშაობს მონაცემთა
  64-ბიტიან ბლოკებზე, დაშიფრვისთვის იყენებს 56-ბიტიან გასაღებს, აქვს ფეისტელის
  ქსელის ტიპის 16-ციკლიანი სტრუქტურა. DES-ის ალგორითმი მონაცემთა 64-ბიტიან
  ბლოკებს გარდაქმნის 64-ბიტიან განსხვავებულ ბლოკად. დასაშიფრად გამოიყენება
  56-ბიტიანი სიმეტრიული გასაღები, წარმოდგენილი 64 ბიტში (ყოველი ბაიტის თითო ბიტი
  საკონტროლოა). დაშიფრვა ბლოკურ-იტერაციულია, რომელსაც ფეისტელის ქსელის სტრუქტურა
  აქვს. DES-ში გამოიყოფა 3 ძირითადი ეტაპი: ბლოკის საწყისი და საბოლოო პერმუტაცია.
  ბიტურ გადანაცვლებათა 16 იტერაციიანი ციკლი, რის შესრულების შემდეგ გენერირდება
  საბოლოო შედეგი. მიუხედავად იმისა, რომ ამ ალგორთმზე გაცილებით მეტი
  კრიპტოანალიზია ჩატარებული, ვიდრე სხვებზე, მისი გატეხვის საუკეთესო გზად უხეში
  ძალის მეთოდი რჩება. მცირედი კრიპტოგრაფიული სისუსტეები და სამი თეორიული შეტევის
  შესაძლებლობა, რეალიზაციისათვის მოითხოვს ძალიან დიდი რაოდენობის მასალას ცნობილი
  და არჩეული ღია ტექსტით შეტევისათვის, რაც პრაქტიკულად შეუძლებლად მიიჩნევა.
</p>
<p class="p-4 bg-gray-50 mx-2 text-sm" *ngIf="selectedOption === 'Triple DES'">
  <strong>Triple DES</strong> (Triple Data Encryption Algorithm) არის მონაცემთა
  დაშიფრვის სიმეტრიული ალოგრითმი, რომელიც იყენებს DES გაშიფვრის ალგორითმს სამჯერ
  თითო მონაცემების ბლოკისთვის. ორიგინალი DES-ის გასაშიფრი 56 ბიტიანი გასაღები
  საკმარისი იყო, როდესაც ეს ალგორითმი იქმნებოდა, მაგრამ კომპიუტერული ძალის
  გაზრდამ ასევე გაზარდა brute-force შეტევების ძალაც. Triple DES გვაძლევს
  შედარებით მარტივ მეთოდს რათა გაზრდილიყო გასაღების ზომა და უფრო დაცული
  გამხდარიყო ეს შიფრაცია ზემოთხსენებული შეტევებისგან. ეს ალგორითმი იყენებს
  გასაღებების კრებულს რომელიც მოიცავს სამ DES გასაღებს, K1, K2 და K3, თითოეული
  56 ბიტიაინი. შიფრაციის ალგორითმია:
  <em>ciphertext=E<sub>K3</sub>(D<sub>K2</sub>(E<sub>K1</sub>(plaintext)))</em>
  სადაც K1 არის DES გაშიფვრა, K2 DES განშიფვრა და K3 DES გაშიფვრა.
</p>
<p class="p-4 bg-gray-50 mx-2 text-sm" *ngIf="selectedOption === 'Rabbit'">
  <strong>Rabbit</strong> არის მაღალ სიჩქარიანი მონაცემების დაშიფრვის ალგორითმი,
  რომელიც შეიქმნა 2003 წელს. ალგორითმი და მისი პირველადი კოდი გამოქვეყნებული
  იქნა 2008 წელს. Rabbit პირველად გამოჩდნა 2003 წლის თებერვალს მეათე FSE
  ვორკშოპის დროს. 2005 წლის მაისს ის ჩაბარდა eSTREAM-ის პროექტში ECRYPT
  სისტემაში. ეს ალგორითმი იყენებს 128 ბიტიან გასაღებს და 64 ბიტიან
  ინიციალიზაციის ვექტორს. ეს შიფრი შეიქმნა მაღალი სიჩქარის პროგრამებისთვის,
  სადაც სრულად ოპტიმიზებულმა იმპლემენტაციამ მიაღწია გაშიფვრის მომხმარებას 3.7
  ცპბ-მდე პენტიუმ 3-ის პროცესორზე, ხოლო 9.7 ცპბ ARM7-ზე. Rabbit იკვეხნის 128
  ბიტიან დაცვას მავნე შემოტევებისგან, რომელიც უმიზნებს კონკრეტულ გასაღებს.
</p>
<div *ngIf="selectedOption === 'RC4'">
  <p class="p-4 !pb-0.5 bg-gray-50 mx-2 text-sm">
    <strong>RC4</strong> (River Cipher 4) არის ნაკადიანი შიფრი.ის არის
    გამორჩეული თავისი სიმარტივით და სისწრაფით. RC4 გამოიგონა რონ რივერსტმა 1987
    წელს, რომელსაც თავიდან ის მხოლოდ პირადი გამოყენების მიზნით იყენებდა, მაგრამ
    1994 წლის სექტემბერს ამ ალგორითმის აღწერა ანონიმურად იქნა გამჟღავნებული. RC4
    აგენერირებს ფსევდო-შემთხვევითი ბიტების ნაკადს, რომელსაც ურევს გასაშიფრ ტექტს
    ორობითი დაყოფის დროს. გასაღების დაგეგმვის ალგორითმი (KSA) გამოიყენება რათა
    დაიწყოს ცვლადების მასივის "S"-ის გამოცვლა. 'keylength' გამოიყენება როგორც
    ბიტების რიცხვი გასაღებში და შეიძლება იყოს 1-დან 256-მდე, ტიპიურად 5-სა და
    16-ს შორის. ეს ალგორითმი შეგვიძლია წარმოვიდგინოთ როგორც:
  </p>
  <pre class="p-4 !pt-0 bg-gray-50 mx-2 text-xs">
 for i from 0 to 255 
    S[i] := i 
  endfor 
  j := 0 
  for i from 0 to 255 
      j := (j + S[i] + key[i mod keylength])mod 256 
      swap values of S[i] and S[j] 
  endfor
</pre
  >
</div>
